<div class="container">
  <h1>Mes réservations</h1>

  <% if @bookings.empty? %>
    <p>Vous n'avez pas de réservations.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Date de début</th>
          <th>Date de fin</th>
          <th>Produit</th>
          <th>Confirmation du propriétaire</th>
          <th>Prix total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= booking.product.name %></td>
            <td><%= booking.confirmed ? 'Confirmed' : 'Pending' %></td>
            <td><%= (booking.total_price) %>€</td>
            <td>
              <%= link_to 'Show', user_booking_path(current_user, booking), class: 'btn btn-primary my-2 text-light' %>
              <%= link_to 'Delete', user_booking_path(current_user, booking), data: { turbo_method: :delete, confirm: 'Are you sure you want to delete this booking?' }, class: 'btn btn-danger text-light' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
