<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid mx-5">
    <%= link_to "kite rental", '/', class: "navbar-logo-font" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item me-3 active">
            <%= link_to "Home", "/", class: "nav-link nav-link-kite" %>
          </li>
          <li class="nav-item me-3">
            <%= link_to "Tous les produits", products_path, class: "nav-link nav-link-kite" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item me-3 dropdown nav-link-kite">
            <%= link_to current_user.name, '#', id: 'navbarDropdown', class: 'nav-link dropdown-toggle', data: { bs_toggle: 'dropdown', bs_auto_close: 'outside' }, aria: { haspopup: 'true', expanded: 'false' } %>
            <div class="dropdown-menu dropdown-menu-end" style="background-color: white;" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to 'Ajouter un produit', new_product_path, class: "dropdown-item" %>
              <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item me-3">
            <%= link_to "Login", new_user_session_path, class: "nav-link nav-link-kite" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
