<%= content_for :title, "Dashboard" %>

<div class="container">
  <h1>Bonjour, <%= @user.name %>!</h1>

  <div class="row mb-4">
    <div class="col-md-6">
      <h2>Mes réservations</h2>
      <% if @bookings.empty? %>
        <p>Vous n'avez pas de réservations.</p>
      <% else %>
        <ul class="list-group">
          <% @bookings.each do |booking| %>
            <li class="list-group-item">
              <h5><%= link_to booking.product.name, product_path(booking.product), class: 'no-underline' %></h5>
              <p>du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %></p>

              <div class="d-flex align-items-center">
                <% if booking.confirmed %>
                  <span class="badge bg-success">Confirmée</span>
                <% else %>
                  <span class="badge bg-warning">En attente</span>
                <% end %>
                <%= link_to 'Voir', user_booking_path(current_user, booking), class: 'btn btn-primary text-light ms-3' %>
                <%= link_to user_booking_path(current_user, booking), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e) de vouloir supprimer cette réservation ?"}, class: 'ms-auto' do %>
                  <i class="fas fa-trash text-danger"></i>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <br>
      <hr>
      <h2>Mes produits</h2>
      <p>Vous avez <%= @products.count %> produit(s).</p>
      <ul class="list-group">
        <% @products.each do |product| %>
          <li class="list-group-item">
            <div class="d-flex align-items-center my-1">
              <h6><%= link_to product.name, product_path(product), class: 'link-offset-3 pt-2 no-underline' %></h6>
              <%= link_to product_path(product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'ms-auto' do  %>
                <i class="fas fa-trash text-danger"></i>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <hr>

      <h2>Réservations de mes produits</h2>
      <% @user_products_bookings = Booking.where(product: current_user.products) %>
      <% if @user_products_bookings.empty? %>
        <p>Aucune réservation n'a été effectuée sur vos produits.</p>
      <% else %>
        <ul class="list-group">
          <% @user_products_bookings.each do |booking| %>
            <li class="list-group-item">
              <h5><%= booking.user.name %> a réservé <%= booking.product.name %></h5>
              <p>du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %></p>

              <div class="d-flex align-items-center">
                <% if booking.confirmed %>
                  <span class="badge bg-success">Confirmée</span>
                <% else %>
                  <span class="badge bg-warning">En attente</span>
                <% end %>
                <%= link_to 'Voir', user_booking_path(booking.user, booking), class: 'btn btn-primary text-light ms-3' %>
                <% if !booking.confirmed && current_user.id == booking.product.user_id %>
                  <%= link_to 'Confirmer', confirm_user_booking_path(booking.user, booking), method: :patch, class: 'btn btn-success ms-3' %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

</div>
