<%= content_for :title, "Dashboard" %>

<div class="container">
  <h1>Bonjour, <%= @user.name %>!</h1>
  
  <div class="row mb-4">
    <div class="col-md-6">
      <h2>Informations de Compte</h2>
      <%= form_with model: @user, url: user_registration_path, method: :put, local: true do |form| %>
        <div class="form-group">
          <%= form.label :name, "Nom" %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :email, "Email" %>
          <%= form.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :current_password, "Mot de passe actuel" %>
          <%= form.password_field :current_password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :password, "Nouveau mot de passe" %>
          <%= form.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :password_confirmation, "Confirmation du mot de passe" %>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>
        <%= form.submit "Mettre à jour le compte", class: 'btn btn-primary' %>
      <% end %>
    </div>
    
    <div class="col-md-6">
      <h2>Produits</h2>
      <p>Vous avez <%= @products.count %> produit(s).</p>
      <ul class="list-group">
        <% @products.each do |product| %>
          <li class="list-group-item">
            <%= link_to product.name, product_path(product) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h2>Ajouter une Photo de Profil</h2>
      <%= form_with model: @user, url: update_profile_picture_path, method: :patch, local: true, html: { multipart: true } do |form| %>
        <div class="form-group">
          <%= form.label :profile_picture, "Photo de profil" %>
          <%= form.file_field :profile_picture, class: 'form-control' %>
        </div>
        <%= form.submit "Mettre à jour la photo", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
