<%# banner %>

<div class="banner-home">
  <div class="container">
    <h1 class="px-5">
      <span data-controller="typed", data-typed-sentences-value="<%= ["Bienvenue au paradis", "Louez votre kite n'importe où à l'ile Maurice", "Avec kite rental,", "Location de matériel pour le kitesurf <br> entre particuliers"] %>"></span>
    </h1>
  </div>
</div>

<%# Aperçu des produits %>

<div class="container">
  <h2 class="my-4">Aperçu des produits</h2>

  <div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-md-2 g-lg-4">
    <% @products.sample(3).each do |product| %>
    <div class="col">
        <div class="card rounded-4 shadow bg-light">
          <div class="card-body d-flex flex-column" style="height: 520px;">
            <% if product.photo.attached? %>
              <%= cl_image_tag product.photo.key, class: 'card-img-top rounded-3' %>
            <% else %>
              <%= image_tag app/assets/images/kite.jpeg, class: 'card-img-top rounded-3' %>
            <% end %>
            <h3 class="card-title mt-3"><%= product.name.capitalize %></h3>
            <p class="cart-text d-inline-block text-truncate" style="max-width: 300px;"><%= product.description %></p>
            <p class="cart-text">Prix : <%= product.price_per_day %>€ par jour</p>
            <p>
              <% if product.reviews.any? %>
                <%= product.reviews.average(:rating).to_f %> ⭐
              <% else %>
                "Ce produit n'a pas encore de note"
              <% end %>
            </p>
            <%= link_to 'Voir ce produit', product_path(product.id), class: 'btn btn-primary mt-auto text-light' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
