<div class="mt-4 mb-3">
  <h1>Location de kitesurf à l'ile Maurice</h1>
</div>

<h2 class="my-3">Aperçu des produits</h2>

<div class="row row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-md-2 g-lg-4">
  <% @products.sample(3).each do |product| %>
  <div class="col">
      <div class="card rounded-4 shadow bg-light">
        <div class="card-body d-flex flex-column" style="height: 520px;">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, class: 'card-img-top rounded-3' %>
          <% else %>
            <%= image_tag 'https://res.cloudinary.com/deewxzlno/image/upload/v1723576878/production/ff8xadzogussxwlwzpyk.jpg', class: 'card-img-top rounded-3' %>
          <% end %>
          <h3 class="card-title mt-3"><%= product.name.capitalize %></h3>
          <p class="cart-text d-inline-block text-truncate" style="max-width: 300px;"><%= product.description %></p>
          <p class="cart-text">Prix : <%= product.price_per_day %>€ par jour</p>
          <p>⭐ <%= product.average_rating.present? ? product.average_rating.round(2) : "Not Rated" %></p>
          <%= link_to 'Voir ce produit', product_path(product.id), class: 'btn btn-primary mt-auto text-light' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
<div class="d-flex justify-content-end"><%= link_to 'Tous les produits', products_path, class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %></div>
<br>
<br>
<hr>

<% if user_signed_in? %>
  <h3>Bienvenue, <%= current_user.name %>!</h3>

    <p>Voici vos produits :</p>
    <% @products.each do |product| %>
      <% if current_user.id == product.user_id %>
        <div>
          <%= link_to product.name, product_path(product), class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
          <%= link_to '✖', product_path(product), method: :delete, data: { confirm: "Êtes-vous sûr(e) de vouloir supprimer ce produit ?" }, class: 'text-danger ms-3' %>
        </div>
      <% end %>
    <% end %>

  <br>

  <%= link_to 'Ajouter un produit', new_product_path, class: 'btn btn-secondary' %>
<% end %>

<br>
<br>
