<h1>Créer un nouveau produit</h1>

<%= form_for @product do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :price_per_day %><br>
    <%= f.number_field :price_per_day %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
