<div class="row ">
  <div class="col-4">
    <div class="card rounded-4 shadow mt-3">
      <div class="card-body d-flex flex-column" style="height: 520px;">
        <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: 'card-img-top rounded-3' %>
        <% else %>
          <%= image_tag 'https://res.cloudinary.com/deewxzlno/image/upload/v1723576878/production/ff8xadzogussxwlwzpyk.jpg', class: 'card-img-top rounded-3' %>
        <% end %>
        <h2 class="card-title mt-3"><%= @product.name.capitalize %></h2>
        <p class="cart-text d-inline-block text-truncate" style="max-width: 300px;"><%= @product.description %></p>
        <p class="cart-text">prix : <%= @product.price_per_day %> par jour</p>
        <h2>Proprietaire</h2>
        <p><%= @owner.name %></p>
      </div>
    </div>
  </div>
</div>

<br>
<%= link_to 'back', root_path, class: 'btn btn-secondary'%>

<% if user_signed_in? && current_user.id == @product.user_id%>
  <%= link_to 'Editer', edit_product_path, class: 'btn btn-primary' %>
  <%= link_to 'Supprimer', product_path(@product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-warning' %>
<% end %>
