<div class="container">
  <div>
    <h1 class="mt-4 pb-2 fs-3"><%= @product.name.capitalize %></h1>
  </div>

  <div class="row d-flex">
    <div class="col-sm-7">
      <div class="d-flex rounded-" style='max-height: calc(60vh - 64px); width: 100%;'>
        <div style="width: 60%;">
          <% if @product.photo.attached? %>
            <%= cl_image_tag(@product.photo.key, class: 'img-kite rounded-5') %>
          <% end %>
        </div>
      </div>
      <div>
        <h2 class="fs-5 mt-4">Aile de kite surf <%= @product.address %></h2>
      </div>
      <p>
        <% if @product.reviews.any? %>
          Avis : <%= @product.reviews.average(:rating).to_f %>/5 ⭐
        <% else %>
          "Ce produit n'a pas encore de note"
        <% end %>
      </p>
      <hr>

      <h4 class="fs-5">Propriétaire</h4>
      <div class="d-flex">
        <div class="me-3">
          <% if current_user.profile_picture.key? %>
            <%= cl_image_tag current_user.profile_picture.key, class: 'rounded-circle', width: 50, height: 50, crop: :fill %>
          <% elsif %>
            <i class="fa-solid fa-user-ninja"></i>
          <% else %>
            <%= current_user.name %>
          <% end %>
        </div>
        <div>
          <p><strong><%= @owner.name %></strong>
          <br><span style='color: rgb(120, 120, 120); font-size: 13px;'>Adresse : <%= @product.address %></span></p>
        </div>
      </div>

      <hr>

        <div class= "d-flex align-items-center">
          <i class="fa-solid fa-water text-dark ms-1 me-4 fs-2"></i>
          <div>
            <p><strong>Description du produit</strong>
            <br><span style='color: rgb(120, 120, 120); font-size: 13px;'><%= @product.description %></span></p>
          </div>
        </div>

        <div class= "d-flex align-items-center">
          <i class="fa-solid fa-euro-sign text-dark ms-3 me-4 fs-2"></i>
          <div>
            <p><strong>Prix</strong>
            <br><span style='color: rgb(120, 120, 120); font-size: 13px;'>Prix : <%= @product.price_per_day %>€ par jour</span></p>
          </div>
        </div>

    </div>

    <%# RESERVATION  %>

      <div class="col-sm-4">
        <div class="card rounded-4 bg-secondary p-4 text-center mx-auto sticky-card" style="max-width: 350px; height: 450px;">
          <h5 class="mt-5 mb-3 text-light">Réserver ce produit : </h5>
          <p class="text-light"><%= @product.name.capitalize %></p>
          <% if user_signed_in? %>
            <%= render partial: 'bookings/form', locals: { product: @product } %>
          <% else %>
            <p>Vous devez être connecté pour réserver un produit.</p>
            <%= link_to 'Se connecter', new_user_session_path, class: 'mb-3 btn btn-primary text-light' %>
          <% end %>
        </div>
      </div>
  </div>

  <div id="map" class="mt-4
  " style="height: 400px; width: 100%;"></div>
  <script>
    document.addEventListener('turbo:load', function() {
      mapboxgl.accessToken = '<%= ENV["MAPBOX_API_KEY"] %>';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
      // style: "mapbox://styles/mapbox/satellite-streets-v12",
        center: [<%= @product.longitude %>, <%= @product.latitude %>],
        zoom: 14
      });

      new mapboxgl.Marker({
        color: 'rgba(2, 115, 115, 1)',
        scale: 1
      })
        .setLngLat([<%= @product.longitude %>, <%= @product.latitude %>])
        .setPopup(new mapboxgl.Popup({ offset: 25 }).setHTML('<h2><%= @product.name %></h2><p><%= @product.address %></p>'))
        .addTo(map);
    });
  </script>



  <div class="row my-3 g-3">
    <% @product.reviews.each do |review| %>
      <div class="card p-2 col-6 mx-3 rounded-4 shadow" style="width: 30%;">
        <div class="card-body">
          <div>
            <p><strong><%= review.user.name %></strong>
            <br><span style='color: rgb(120, 120, 120); font-size: 13px;'><%= review.created_at.strftime("%d/%m/%Y") %></span>
            <br><strong><%= review.rating %>/5</strong>
            <br><span style='color: rgb(120, 120, 120); font-size: 13px;'><%= review.content %></span></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-4 col-sm-6 mx-auto">
    <h5 class="">Ajouter un commentaire</h5>
    <%= simple_form_for [@product, Review.new] do |f| %>
      <%= f.input :rating, label: 'Note', collection: 1..5, as: :select %>
      <%= f.input :content, label: 'Commentaire', input_html: { rows: 3 } %>
      <%= f.button :submit, 'Valider', class: 'btn btn-primary text-light' %>
    <% end %>
  </div>
</div>
